.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {

    .box-body {
        height: 65vh !important; 
    } 
    .box-footer{
        height: 80vh !important;
    }
    
}

.chatpage{
    z-index: 5;
}

.box.box-warning {
    border-top-color: #809FFF;
}

.box {
    position: relative;
    border-radius: 3px;
    border-top: 3px solid #D2D6DE;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.chatpage,
.chatContainer {
    background-color: #101115;
}

.box-header.with-border {
    border-bottom: 1px solid #F4F4F4
}

.box-header.with-border {
    border-bottom: 1px solid #F4F4F4;
}

.box-header {
    display: block;
    padding: 10px;
    position: relative;
}

.box-header:before,
.box-body:before,
.box-header:after,
.box-body:after {
    content: " ";
    display: table;
}

.box-footer:before,
.box-footer:after {
    position: sticky;
    bottom: 0;
}

.box-header {
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    position: relative
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #809FFF !important;
}

.bg-yellow {
    color: #fff !important;
}

.btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97A0B3;
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    overflow: auto;
}

.direct-chat-messages,
.direct-chat-contacts {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.direct-chat-msg {
    margin-bottom: 10px;
}

.direct-chat-msg,
.direct-chat-text {
    display: block;
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}


/* .direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
} */

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background-color: #404047;
    margin: 5px 0 0 50px;
    color: #ffffff;
}

.direct-chat-name {
    color: white;
}


.direct-chat-msg,
.direct-chat-text {
    display: inline-block;
}

.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}

.direct-chat-text:after,
.direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #D2D6DE;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}

.direct-chat-text:after,
.direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.direct-chat-msg:after {
    clear: both;
}

.direct-chat-msg:after {
    content: " ";
    display: table;
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.right .direct-chat-img {
    float: right;
}

.direct-chat-warning .right>.direct-chat-text {
    background: rgb(55, 129, 240);
    color: #ffffff;
}

.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #F4F4F4;
    padding: 10px;
    position: sticky;
    bottom: 0;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}

.btnmsg {
    color: #fff;
    background-color: #809FFF;
    border-color: #809FFF;
    transition: .3s all ease-in-out;
}

.btnmsg:hover {
    color: white;
    background-color: #4b74ed;
}

.msginput,
.msginput::placeholder {
    color: white !important;
    background: transparent !important;
}
