body{
    font-family: Poppins;
}
.Que{
	width: 100%;
}
.que-body{
	display: block;
	border-left: rgb(76, 74, 74) 1px solid;
	border-right: rgb(76, 74, 74) 1px solid;

}
.adiv{
	background: #5316b4;
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	font-size: 12px;
	height: 46px;
}
.Ans{
	border: none;
	background: #737ce2;
	font-size: 14px;
	border-radius: 20px;
}


.ans-footer {
    padding: 10px;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
	border-top: 1px solid #F4F4F4;
	border-bottom: rgb(76, 74, 74) 1px solid;
	border-left: rgb(76, 74, 74) 1px solid;
	border-right: rgb(76, 74, 74) 1px solid;
    position: sticky;
    bottom: 0;
}

.QAbtn{
	background-color: transparent !important;
}

.QAPAge{
	z-index: 5;
}

@media (max-width:767.98px) {

    .Que {
        height: 63vh !important; 
    } 
	.ans-footer{
		top: 62vh !important;
	}
    
}
@media (min-width:767.98px) {

	.ans-footer{
		top: 50vh !important;
	}
    
}