
body {
    font-family: "Poppins", sans-serif;
}
.leave {
    position: fixed; /* Initially position at the bottom */
    bottom: 20px;
    right: 20px;
    background-color: #DC3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.mnav {
    background-color: rgb(5, 11, 43);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
@media (max-width: 767px) {
    .leave {
        position: fixed;
        top: 10px;
        right: 20px;
        bottom: auto;
    }
}
@media (max-width: 848px) {
    .button-container {
        max-width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap;
    }
    .button-container .btn {
        display: inline-block;
        margin-right: 10px;
    }
}