.meetUserVideo {
    z-index: 1;
    position: absolute;
    bottom: 15vh;
    height: 20vh;
    width: auto;
    left: 5px;
    z-index: 0;
    overflow-y: hidden !important;
    border-radius: 8px;
}

.meetUserVideoname {
    width: 5vw;
    color: rgb(183, 185, 189);
    position: absolute;
    bottom: 15vh;
    left: 5vw;
}



.conferenceView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.remoteVid {
    width: 15vw;
    justify-content: center !important;
    border-radius: 10px;
    box-sizing: border-box;
}

/* .hostvideo {
    width: 24vw;
    border-radius: 10px;
    box-sizing: border-box;
} */



.username {
    position: absolute;
    font-size: 1vw;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 3px;
}




@media (max-width: 500px) {
    .remoteVid {
        width: 80vw;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .username {
        position: absolute;
        font-size: 3vw;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2px 5px;
        border-radius: 3px;
    }


}